

<div class="wrapper-home">
  <div class="banner-index text-center" style="background-image: url('http://cdn.liquor.com/wp-content/uploads/2015/03/placeholder_background.jpg'); background-size: cover; background-position: center center;">
    <div>
    <h4> The Cocktailer Database </h4>
    <p> On a quest to have a decent cocktail database. </p>
    <div class="button-home">
    <%= link_to "Sign In", cocktails_path , class: 'btn btn-info' %>
    </div>
    <br>
    <div class="button-home">
    <%= link_to "Sign up", cocktails_path, class: 'btn btn-primary' %>
    </div>
    </div>

  </div>
</div>
