
<div class="banner-new" style="background-image: url('http://cdn.liquor.com/wp-content/uploads/2015/03/placeholder_background.jpg'); background-size: cover; background-position: center center;">
  <div style="width:300px;">
  <h3> Add a new Cocktail! </h3>
  </div>
  <div class="container" style="width:300px;">
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit, class: "btn btn-primary wide" %>
  <% end %>
  </div>
</div>

